<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="css/style.css" rel='stylesheet' type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

</head>
<body>
  <div id="header" class="container-fluid">
  <div class="row">
   
      <div id="header_content">
        <span id="name"> Patrick Keenan <i class="fa fa-diamond"></i> </span>
          <span id="nav">
              <ul>
                    <li> Work</li>
                    <li> About</li>
                    <li> Contact</li>
                    <li> Blog</li>
                </ul>
        </span>
      </div>



  </div>
</div>

<div class="container-fluid">
    <div id="landing" class="row">
      <div class="col-xs-12">
        <h4 id="stinger"> I make websites in Philadelphia, PA</h4>

      </div>
    </div>
</div>

<div class="container" id="banner_img">
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>


<div class="container" id="work_section">
  <div class="row">
    <div class="col-xs-12">
      <h1 id="work_header"> My Work </h1>
    </div>
  </div>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200">
      <div class="caption">
        <h3>Site Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies turpis eu felis ullamcorper, nec tincidunt massa finibus. Praesent elementum lacus posuere, vestibulum neque ac, ultricies massa. Proin tempor molestie purus vitae vulputate. </p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200">
      <div class="caption">
        <h3>Site Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies turpis eu felis ullamcorper, nec tincidunt massa finibus. Praesent elementum lacus posuere, vestibulum neque ac, ultricies massa. Proin tempor molestie purus vitae vulputate. </p>
        <p> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200">
      <div class="caption">
        <h3> Site Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies turpis eu felis ullamcorper, nec tincidunt massa finibus. Praesent elementum lacus posuere, vestibulum neque ac, ultricies massa. Proin tempor molestie purus vitae vulputate. </p>
        <p> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container-fluid" id="about_section_top">
  <div class="row">
    <div class="col-xs-12">
      <h1 id="about_header"> About Me </h1>
  </div>
</div>
</div>

<div class="container-fluid" id ="about_section_content">
  <div class="row">
  <div class="col-xs-6">
    <h2> I'm Patrick </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies turpis eu felis ullamcorper, nec tincidunt massa finibus. Praesent elementum lacus posuere, vestibulum neque ac, ultricies massa. Proin tempor molestie purus vitae vulputate.</p>
    <h2> Personal Info </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies turpis eu felis ullamcorper, nec tincidunt massa finibus. Praesent elementum lacus posuere, vestibulum neque ac, ultricies massa. Proin tempor molestie purus vitae vulputate.</p>
    <h2> Experience </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies turpis eu felis ullamcorper, nec tincidunt massa finibus. Praesent elementum lacus posuere, vestibulum neque ac, ultricies massa. Proin tempor molestie purus vitae vulputate.</p>
    <h2> Technologies I use </h2>
      <ul>
        <li> Ruby on Rails</li>
        <li>Javascript</li>
        <li>Jquery</li>
        <li> CSS/SASS</li>
        <li> Bootstrap and Foundation</li>
      </ul>

  </div>
  <div class="col-xs-6">
    <div  id="circle">
    </div>
    <div id="resources_container">
    <p class="resources"> Resume: <a href="#">resume.pdf</a><p>
    <p class="resources"> Portfolio: <a href="#">portfolio.pdf</a><p>
    <p class="resources"> Github: <a href="https://github.com/Taccyp"><i class="fa fa-github"></i></a><p>
    <p class="resources"> Email: <a href="pgk4526@gmail.com">pgk4526@gmail.com</a><p>
    </div>
  </div>
  
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <h1 id="contact_header"> Contact Me </h1>
    <div  id="form-container" class="col-xs-12">
      <form class="form-horizontal" role="form">
   <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Name:</label>
    <div class="col-sm-4"> 
      <input type="name" class="form-control" id="email" placeholder="Enter name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Email:</label>
    <div class="col-sm-4"> 
      <input type="password" class="form-control" id="email" placeholder="Enter email">
    </div>
  </div>
  <div id="message_box" class="form-group">
    <label class="control-label col-sm-2" for="message">Message:</label>
    <div class="col-sm-6">
      <textarea name="message" class="form-control" tabindex="4"
          placeholder="Your Message" required></textarea>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="kappa" class="row">
    <div class="col-xs-12">
      <p>&#169; Copyright 2015 Patrick Keenan<p>
    </div>
  </div>
</div>